// this would be a lot easier to do dynamically with styled components
// must be a better way in sass tho

.lightbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.3rem;
  justify-content: center;
  align-items: center;

  :first-child {
    height: 100%;
  }

  :nth-child(3) {
    grid-column: 1/3;
  }
  :nth-child(4) {
    grid-column: 1/3;
  }

  // @media (max-width: 62.5em) {
  //   font-size: 1.8rem;
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: 3.2rem;
  // }
}

.lightbox-image {
  max-width: 100%;
  justify-self: center;
}

// .grid {
//   grid-template-columns: repeat(3, 1fr);

//   @media (max-width: 62.5em) {
//     font-size: 1.8rem;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
.grid-2-columns {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-columns {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-columns {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5-columns {
  grid-template-columns: repeat(5, 1fr);
}
.grid-6-columns {
  grid-template-columns: repeat(6, 1fr);
}
